{% extends 'layout.html'%} {%block head%}
<title>Admin Panel</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/adminPanel.css') }}"
/>
{% endblock head %} {%block body%}
<div class="usersContainer">
  <h1 class="textCenter">Users</h1>
  {% for user in users %}
  <div class="userContainer">
    <section class="stats">
      <p>ID: {{user.userid}}</p>
      <p>Role: {{user.role}}</p>
    </section>
    <section class="stats">
      <p>
        User Name:
        <a href="/user/{{user.username.lower()}}" class="textPrimary">{{user.username}}</a>
      </p>
      <img src="{{user.profilepicture}}" alt="{{user.username}}" class="picture" />
    </section>
    <section class="stats">
      <p>email: {{user.email}}</p>
      <p>Points: {{user.points}}</p>
    </section>
    <section class="stats">
      <p>Join Date: {{user.creationDate}}</p>
      <p>Join Time: {{user.creationTime}}</p>
    </section>
    <section class="stats">
      <a
        href="deleteuser/{{user.username.lower()}}/redirect=&admin&users"
        class="textPrimary"
        >delete user</a
      >
      {% if user[5] == "admin" %}
      <a href="/setuserrole/{{user.username.lower()}}/user" class="textPrimary"
        >set user role to user</a
      >
      {% else %}
      <a href="/setuserrole/{{user.username.lower()}}/admin" class="textPrimary"
        >set user role to admin</a
      >
      {% endif %}
    </section>
  </div>
  {% endfor %}
</div>
<a href="/admin" class="btn btnLink textPrimary">↩️go back to admin panel</a>
{% endblock body %}
