{% extends 'layout.html'%} {%block head%}
<title>Admin Panel --> Comments</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard.css') }}"
/>
{% endblock head %} {%block body%}
<h1 class="textCenter">Comments</h1>
{% for comment in comments %}
<div class="post centeredHorizontally">
  <h3>
    Post ID:
    <a class="title textPrimary" href="/post/{{comment.id}} ">{{comment.post}}</a>
  </h3>
  <div class="content" tag="content">{{comment.comment|safe}}</div>
  <section>
    <a
      href="/deletecomments/{{comment.id}}/redirect=dashboard&{{session['userName'].lower()}}"
      class="btn btnLink textPrimary"
      >delete</a
    >
  </section>
  <div class="info">
    <p>Creation Time: {{comment.time}}</p>
    <p>Creation Date: {{comment.date}}</p>
  </div>
  {% if request.path == "/admin/comments" %}
  <p>
    Author:
    <a href="/user/{{comment.user.lower()}}" class="textPrimary"
      >{{comment.user}}</a
    >
  </p>
  {% endif %}
</div>
{% endfor %} {% if request.path == "/admin/comments" %}
<a href="/admin" class="btn btnLink textPrimary goBackToAdmin"
  >↩️go back to admin panel</a
>
{% endif %} {% endblock body %}
