{% extends 'layout.html'%} {%block head%} {% if request.path == "/admin/posts"
%}
<title>Admin Panel --> Posts</title>
{% else %}
<title>{{session["userName"]}}'s Dashboard</title>
{% endif %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard.css') }}"
/>
{% endblock head %} {%block body%} {% if showPosts %}
<h1 class="textCenter">Posts</h1>
{% for post in posts %}
<div class="post centeredHorizontally">
  <a class="title textPrimary" href="/post/{{post.id}} ">{{post.title}}</a>
  <div class="content" tag="content">{{post.content|safe}}</div>
  <section>
    <a href="/editpost/{{post.id}}" class="btn btnLink textPrimary">edit</a>
    <a
      href="/deletepost/{{post.id}}/redirect=dashboard&{{session['userName'].lower()}}"
      class="btn btnLink textPrimary"
      >delete</a
    >
  </section>
  <div class="info">
    <p>Tags: {{post.tags}}</p>
    <p>Views: {{post.views}}</p>
  </div>
  <div class="info">
    <p>Creation Time: {{post.time}}</p>
    <p>Last Edit Time: {{post.lastedittime}}</p>
  </div>
  <div class="info">
    <p>Creation Date: {{post.date}}</p>
    <p>Last Edit Date: {{post.lasteditdate}}</p>
  </div>
  {% if request.path == "/admin/posts" %}
  <p>
    Author:
    <a href="/user/{{post.author.lower()}}" class="textPrimary">{{post.author}}</a>
  </p>
  {% endif %}
</div>
{% endfor %} {% elif not showPosts %} {% if request.path == "/admin/posts" %}
<h1>This user haven't posted yet.</h1>
{% else %}
<p class="userDashboardNoPost">
  You don't have any posts. Do you want
  <a href="/createpost" class="textPrimary">create a post</a> ?
</p>
{% endif %} {% endif %} {% if showComments and not request.path ==
"/admin/posts"%}
<h1 class="textCenter">Comments</h1>
{% for comment in comments %}
<div class="post centeredHorizontally">
  <div class="content" tag="content">{{comment.comment|safe}}</div>
  <section class="comment">
    <p class="commentCreationDate">Creation Date: {{comment.date}}</p>
    <p class="commentCreationTime">Creation Time: {{comment.time}}</p>
  </section>
  <a href="/post/{{comment.post}}" class="btn btnLink textPrimary">go to post</a>
</div>
{% endfor %} {% endif %} {% if request.path == "/admin/posts" %}
<a href="/admin" class="btn btnLink textPrimary">↩️go back to admin panel</a>
{% endif %} {% endblock body %}
