{% extends 'layout.html'%} {%block head%}
<title>Search</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/search.css') }}"
/>
{% endblock head %} {%block body%}
<div class="container">
  <form id="searchForm" class="searchBar searchBarPage" onsubmit="return searchBarSubmit()">
    <input
      type="text"
      id="searchBarInput"
      class="input"
      autocomplete="off"
      placeholder="search"
    />
    <button type="submit" class="btn">🔍</button>
  </form>
</div>
<script>
  function searchBarSubmit() {
    const searchInput = document.getElementById('searchBarInput');
    const query = encodeURIComponent(searchInput.value.trim());
    if (query) {
      // Construct the URL based on the search query and submit the form
      // const query = encodeURIComponent(searchInput.value.trim()).replace(/%20/g, '+');
      const searchURL = `/search/${query}`;
      window.location.href = searchURL;
    }
    // Prevent the form from being submitted normally
    return false;
  }
</script>
{% endblock body %}