{% extends 'layout.html'%} {%block head%}
<title>NoiseDive</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock head %} 
{%block body%}
  <!-- {% for post in posts %}
  <p>{{post.title}}</p>
  {% endfor %} -->

 {% for post in posts %}
    <div class="post centeredHorizontally">
       <a href="/post/{{post.id}}">
        <div class="title textPrimary">{{post.title}}</div>
        <div class="content" tag="content">{{post.content|safe}}</div>
       </a>
    </div>
  {% endfor %}

{% endblock body %}

