{% extends 'layout.html'%} {%block head%}
<title>Search results for {{query}}</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/search.css') }}"
/>
{% endblock head %} {%block body%}
<h3>
  search results for
  <h2 class="textPrimary">"{{query}}"</h2>
</h3>
<!-- {% if users %} {% for user in users %} {% for user in user %}
<div class="post centeredHorizontally userBox">
  <div class="title textPrimary">{{user.username}}</div>
  <img src="{{user.profilepicture}}" />
  <a class="title textPrimary" href="/user/{{user.username|lower}}">{{user.username}}</a>
</div>
{% endfor %} {% endfor %} {% endif %} -->

{% if posts %} {% for post in posts %}
<div class="post centeredHorizontally">
  <a href="/post/{{post.id}}">
    <div class="title textPrimary">{{post.title}}</div>
    <!-- what causes them to be cut off? -->
    <div class="content" tag="content">{{post.content|safe}}</div>
  </a>
</div>
{% endfor %} {% endif %} {% if empty%}
<h3>not found</h3>
{% endif %} {% endblock body %}
