recursive-include noisedive_blog/templates *
recursive-include noisedive_blog/static *
recursive-include noisedive_blog/images *
recursive-include noisedive_blog/docs *
recursive-include noisedive_blog/db *
