recursive-include noisedive_flask/templates *
recursive-include noisedive_flask/static *
recursive-include noisedive_flask/images *
recursive-include noisedive_flask/docs *
recursive-include noisedive_flask/db *
