name: scp files to server
on: 
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Delete files in ssh server
      uses: appleboy/ssh-action@master
      env:
        GITHUB_WORKSPACE: ${{ github.workspace }}  # Set the environment variable for github.workspace
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        # Recursively delete everything except venv and folder itself, for now (rsync better probs, but meh).
        # TODO: this deletes the DBs each time, remove them from git, probably, and add init steps to setup steps.
        script: find /home/protected/noisedive -maxdepth 1 -mindepth 1 -not -name /home/protected/noisedive/venv -not -name /home/protected/noisedive/wheel_venv -not -name /home/protected/noisedive/noisedive_flask/db/sqlite.db -delete

    - uses: actions/checkout@v2

    - name: copy file via ssh
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        source: ./
        target: /home/protected/noisedive

    - name: build and install latest package version
      uses: appleboy/ssh-action@master
      env:
        GITHUB_WORKSPACE: ${{ github.workspace }}  # Set the environment variable for github.workspace
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        # Build and install the most recent package version:
        script: |
          cd /home/protected/noisedive/ && source venv/bin/activate
          python setup.py bdist_wheel
          pip uninstall noisedive_flask
          pip install $(ls dist/noisedive_flask-*.whl | sort -V | tail -n 1)


